name: ci

on:
    push:
        branches:
            - main

jobs:
    docker:
        runs-on: ubuntu-latest
        permissions:
            packages: write
        steps:
            - name: Log in to GitHub Container Registry
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Set GIT_REV
              run: echo "GIT_REV=`git rev-parse --short HEAD`" >> $GITHUB_ENV

            - name: Build and push
              uses: docker/build-push-action@v6
              with:
                  platforms: linux/amd64,linux/arm64
                  push: true
                  tags: ghcr.io/futurgh/pegasus:latest
                  build-args: GIT_REV=$GIT_REV
